<div class="container">
  <div class="card">
    <h1><%= @patient.name %></h1>
  </div>

  <% @observations.each do |o| %>
    <div class="card">
      <div><strong>Type:</strong> <%= o.type.demodulize %></div>
      <div><strong>Code:</strong> <%= o.code %></div>
      <div><strong>Value:</strong> <%= o.display_result %></div>
      <div class="muted"><strong>Recorded:</strong> <%= o.recorded_at&.utc&.iso8601 %></div>
    </div>
  <% end %>
</div>
